<div class="footer">
  Pas de copyright, pas de licence. Pas de chatons, désolé.<br />
  Fait partie du réseau Telecomix.<br />
  Traduit avec amour par <a href="https://mayeu.me">@Mayeu</a> et d'autres contributeurs | Des choses à dire à propos de la traduction : <span>m [plus] datalove [at] 6x9 [dot] fr</span>.
  Les sources du sites sont <a href="https://github.com/Mayeu/datalove.fr">aussi disponible sur GitHub</a>.
  <div class="footerrow">
    <a href="http://www.telecomix.org"><img src="{{ "telecomix.gif" | relURL }}" border="0"  align="bottom" align="left" /></a>
    <a href="https://www.kopimi.com"><img src="{{ "mkopimi_gay.gif" | relURL }}" border="0"  align="bottom" align="left" /></a>
    <div class="mails">
      <span>info [at] datalove [dot] me<br />
      info [at] werebuild [dot] eu<br />
      info [at] telecomix [dot] org</span>
    </div>
  </div>
</div>
